<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Recall for {{generic_name}}</h4>
  <p>The FDA has recently issued a recall for {{generic_name}}</p>
  <p>Products impacted include: <strong>{{code_info}}</strong></p>
  <hr>
  <i class="mb-0">Recall Number: {{recall_number}}</i>
</div>