<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Recall for Ibuprofin{{name}}</h4>
  <p>The FDA has recently issued a recall for {{name}}</p>
  <p>Lot numbers that are impacted include: <strong>123456, 123467, 123512, 1231242{{lotNumbers}}</strong></p>
  <hr>
  <i class="mb-0">More detail can be found at <a href="#{{recallLink}}">this link</a></i>
</div>