




<div class="carousel-item">
    <div class="col-md-3 ">
        <div class="card" style="width: 19rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{medication_name}}</h5>
                    <img src="./assets/rx.webp" width="80px">
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Intake Route: {{route_of_medication}}</h6>
                <p class="card-text">{{description}}</p>
                <a href="/drug/{{id}}" class="card-link">Drug Facts</a>
              
            </div>
        </div>
    </div>
</div>