<div class="my-2 mx-3">
    <h5>Create a New Comment:</h5>

    <section class="card">
        <div class="d-flex flex-column card-body">
            <h5><input class="commentTitle w-100" type="text" placeholder="(Enter Title)"></h5>
            <textarea class="commentContents" placeholder="(Enter Contents)"></textarea>


        </div>
        <button id="submitNewcomment" type="submit" class="btn btn-primary my-2 mx-auto">Submit</button>


    </section>
</div>
<script src="../js/comments.js"></script>