<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Ibuprofin</h5>
            <img src="./assets/rx.webp" width="80px">
        </div>
        <h6 class="card-subtitle mb-2 text-muted">Something else here</h6>
        <p class="card-text">Description on that the drug is meant for?</p>
        <a href="#" class="card-link">Drug Facts</a>
        <a href="#" class="card-link">Something else?</a>
    </div>
</div>