<div
  class="border border-dark rounded my-3 mx-auto p-3"
  style="min-width: 100%"
>
  <div class="row g-0">

    <div class="col-12">
      <div style="font-size: 3vw;" class="">
        <h5 class="display-2"><img
            src="./assets/rx.webp"
            width="100px"
          />
          {{medication_name}}</h5>
        <p>{{description}}</p>
        <div>
          <a href="/drug/{{id}}" class="card-link">Drug Facts</a>
        </div>
      </div>
    </div>
  </div>
</div>