<div
  class="border border-dark rounded my-3 mx-auto p-3"
  style="min-width: 100%"
>
  <div class="row g-0">

    <div class="col-12">
      <div style="font-size: 3vw;" class="">
        <h5 class="display-2"><img
            src="./assets/rx.webp"
            width="100px"
          />Ibuprofin
          {{query}}</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta
          voluptatibus perferendis mollitia ipsa provident dolorum?{{description}}</p>
        <div>
          <a href="#" class="card-link">Drug Facts</a>
          <a href="#" class="card-link">Something else?</a>
        </div>
      </div>
    </div>
  </div>
</div>