<div class="card mb-3 mx-auto" style="min-width: 100%">
    <div class="row g-0">

        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title"><img src="./assets/rx.webp" width="60px">Ibuprofin {{name}}</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptatibus
                    perferendis mollitia ipsa provident dolorum? Magni cumque iusto, quas repellat mollitia quisquam
                    laborum asperiores rem sed ipsam minima deleniti eveniet!{{description}}</p>
                <a href="#" class="card-link">Drug Facts</a>
                <a href="#" class="card-link">Something else?</a>
            </div>
        </div>
    </div>
</div>