<div class="card" style="width: 19rem;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">item 12352{{name}}</h5>
            <img src="./assets/rx.webp" width="80px">
        </div>
        <h6 class="card-subtitle mb-2 text-muted">Something else here{{something}}</h6>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad velit
            molestiae totam officiis nesciunt atque architecto, dolor dolorum repellendus doloremque optio
            assumenda odit debitis similique. Iusto possimus illo cupiditate.{{description}}</p>
        <a href="/api/drug/{{id}}" class="card-link">Drug Facts</a>
        <a href="https://youtu.be/dQw4w9WgXcQ" class="card-link" target="_blank">Something else?</a>
    </div>
</div>