<div class="card my-2 col-12">
  <div class="d-flex align-items-center">
    <div class="card-body">
      <div class="d-flex my-2">
        <img class="mx-2" src="./assets/prescription.svg" width="50px" />
        <div>
          <h5 class="card-title">Name: {{medication_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Something else here</h6>
        </div>
      </div>
      <p class="card-text">Description: </p>

    </div>

    <a href="/api/addRx"><img
        src="./assets/plus.svg"
        width="80px"
        class="filter-blue"
      /></a>
  </div>
</div>