<form id="findRx">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Rx Name:</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      id="search-input"
    />
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
<script src="/js/altSearchQuery.js"></script>