<head>
  <meta charset="UTF-8">
  <title>Med.i</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="flex-column justify-space-around component">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Med.i
      </h1>

      <div class="navbar component-header">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/alerts">Alerts</a></li>
        </ul>
      </div>
    </header>
  </div>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

</body>

</html>

{{!-- nav bar on this (main) page
M - handle main and login handlebars - and modal for after logging in with disclaimer.
HANDLEBAR VIEWS: main nav bar, login, home screen, search, alerts --}}