<div id="intro">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {{#if new_user}}
            <h1 class="display-4 ">Welcome to Med.i</h1>
            <p class="lead">A place to make medicine safe for me.</p>

            {{else}}
            <div>
                <h1 class="display-4 ">Welcome back <i>Omori{{user_name}}</i></h1>
                <hr>
            </div>
            {{/if}}
        </div>
    </div>
</div>


<div id="rxCabinet">

    {{!-- Displays only if screen resolution >=1440px --}}
    <div class="row mx-auto my-auto justify-content-center">
        <h2>Your current medicine cabinet:</h2>

        <div id="rxCarousel" class="carousel slide d-none d-lg-block " data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">

                {{!-- {{#each rxItem}} --}}
                {{> carousel-item}}
                {{> carousel-item}}

                {{> carousel-item}}
                {{> carousel-item}}
                {{> carousel-item}}


                {{!-- {{/each}} --}}

            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#rxCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon filter-blue" aria-hidden="true"></span>

            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#rxCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon filter-blue" aria-hidden="true"></span>

            </a>

        </div>


        <div id="smallContent" class="container-fluid d-flex d-lg-none flex-sm-column">


            {{!-- {{#each rx}} --}}
            {{> rx-card}}
            {{> rx-card}}
            {{> rx-card}}
            {{> rx-card}}
            {{!-- {{/each}} --}}


        </div>

        <div id="lowContent" class="container-fluid d-none d-lg-flex justify-content-around p-1">


            {{!-- {{#each rx}} --}}
            {{> rx-cardSM}}
            {{> rx-cardSM}}
            {{> rx-cardSM}}
            {{!-- {{/each}} --}}


        </div>
    </div>

<hr>
    <div>
        <a class="d-flex flex-column align-items-center justify-content-center  text-decoration-none"
            href="/api/addRx"><img src="./assets/plus.svg" width="80px" class="filter-blue">
            <p class="fs-6 fst-italic text-muted">Add another Rx</p>
        </a>

    </div>
</div>


{{!-- Code goes here for adding to patient's cabinet --}}




<script src="./js/homescreen.js"></script>