<div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to Med.i</h1>
            <p class="lead">A place to make medicine safe for me.</p>
        </div>
    </div>

</div>