<div id="rxResults" class="">

    {{!-- {{#each rxResult}} --}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{!-- {{/each}} --}}





</div>