<div id="rxResults" class="">
    {{>searchbar}}
    {{!-- {{#each rxResult}} --}} 
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{> rx-result}}
    {{!-- {{/each}} --}}





</div>