<div>
    <h1>Search your prescription:</h1>
    {{> searchbar}}

    {{!-- {{#if results}} --}}
    {{!-- {{#each results}} --}}
    {{!-- {{>rx-result}}
    {{>rx-result}}
    {{>rx-result}}
    {{>rx-result}}
    {{>rx-result}} --}}

    {{!-- {{/each}} --}}
    {{!-- {{/if}} --}}


    <ul>
        {{#each drugFxArr}}
        <li>
            {{term}}
        </li>
        {{/each}}

    </ul>


</div>