<div class="login-card">
  {{!-- <div class="login-card-header">
  </div> --}}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Med.i</h1>
  </div>

  <main class="form-signup w-100 m-auto">

    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 border rounded-3 bg-med needs-validation" id="signupForm" novalidate>
        {{!-- p-md-5 --}}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userFirst" placeholder="John" required>
            <label for="floatingFirst" class="form-label">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userLast" placeholder="Smith" required>
            <label for="floatingLast" class="form-label">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userName" placeholder="johnsmith" required>
            <label for="floatingLast" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="userEmail"
            placeholder="name@example.com"
            required
          />
          <label for="floatingEmail" class="form-label">Email address</label>
        </div>
    <div class="form-floating myb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
          />
          <label for="floatingPassword" class="form-label">Password</label>
    </div>

    <hr class="my-4" />

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>



{{!-- add first, last, username --}}