/* Custom CSS for intro screen */
#intro {
  opacity: 0;
  transition: all 2s ease-in;
}

#intro.active {
  opacity: 1;
}

#rxCabinet {
  opacity: 0;
  transition: all 2s ease-in;
}

#rxCabinet.active {
  opacity: 1;
}

.component {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  border-radius: 0.25rem;
}

.component-header {
  color: var(--bs-purple);
}

.form-check {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
}
