body {
    font-family: 'Roboto', sans-serif;
}

.filter-blue {

    filter: invert(26%) sepia(100%) saturate(2409%) hue-rotate(179deg) brightness(88%) contrast(83%);

}

/* Custom CSS for intro screen */
#intro {
    opacity: 0;
    transition: all 2s ease-in
}

#intro.active {
    opacity: 1;
}

#rxCabinet {
    opacity: 0;
    transition: all 2s ease-in
}

#rxCabinet.active {
    opacity: 1;
}



.component {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: 0.25rem;
}

.component-header {
    color: var(--bs-purple);
}